h1, h2 {
    display: table;
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;


}

h1 {  /* Main center */
    text-align: center;
    font-size: 22pt;
    margin: 0px auto 0px auto;
}

body {
    font-family: Georgia, Garamond, serif;
    color: #404040;
    font-size: 11pt;
    background-image: url("images/silverware.jpg");
    background-attachment: fixed;
    /* width: 1024px; */
}

a {
    color:#A4A400;
}

.comments {
    font-style: italic;
    display: table;
    background-color: #FFFFA8;
    margin-left: 40px;
    width: 90%; 
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
} 

ul{
    list-style-image: url("images/pie_icon.gif");
}
