body{
    background-color: rgb(198, 229, 250);
    color: #404040;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    margin-left: 10px;
}

button, textarea{
    margin-top: 10px;
}